<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<title>Notes Description!!!</title>
</head>
<body>
	<h2>Write the Notes Here!!!</h2>
	<form class="form-horizontal" role="form" method="POST" th:action="@{/user_note}">
		<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="alert alert-success" role="alert" th:if="${msg}"
						th:utext="${msg}">
						<div class="container"></div>
					</div>
				</div>
			</div>
		
			<div class="row">
				<input type="hidden" id="notes_id" name="notes_id" />
			</div>
			<div class="col-md-3 field-label-responsive">
				<label>Title </label> <input type="text" name="title" id="title"
					placeholder="title" required autofocus>
			</div>

			<div class="col-md-3 field-label-responsive">
				<label for="description">Description </label>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon" style="width: 3.6rem">
							<i class="fa fa-user"></i>
						</div>

						<textarea name="description" rows="3" cols="30" id="description"
							placeholder="description" required autofocus>
	
					</textarea>
					</div>
				</div>
			</div>

			<div class="col-md-3 field-label-responsive">

				<button type="submit" class="btn btn-success">
					<i class="fa fa-user-plus"></i>Submit
				</button> &nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/logout}">  Logout</a>
			</div>
	</form>
</body>
</html>