<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<body>
<h2>Edit Notes</h2>
</head>
<!-- <nav th:replace="layout :: header"></nav> -->
 <!-- this.title =title;
        this.description =description;
        this.creation_date = creation_date;
        this.update_date = update_date; -->
<div class="container main-content form">
    <div class="row">
        <form action="#" th:action="@{/user/save}" th:object="${user}" method="POST" >
            <input type="hidden" th:field="*{notes_id}" />
             <div class="col-md-3 field-label-responsive">
                <label>Title      </label>
               <input type="text" name="title" id="title" th:field="*{title}" >
            </div>
           <br></br>
            
<div class="col-md-3 field-label-responsive">
				<label for="description">Description </label>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon" style="width: 3.6rem">
							<i class="fa fa-user"></i>
						</div>

						<textarea name="description" rows="3" cols="30"
							id="description" th:field="*{description}">
	
                   </textarea>
					</div>  </div></div>
			
           
            <button type="submit" class="btn btn-primary">Save</button><br></br>
            <div class="col-md-4">
		<div class="col-md-8">
			<a th:href="@{/view_page}">Back</a>
			
				</div>
			</div>
        </form>
    </div>
</div>
</body>
</html>