<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Sign up</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
     <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" >   <!-- th:object="${user}" -->
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<div class="alert alert-success" role="alert" th:if="${msg}"
						th:utext="${msg}">
						<div class="container"></div>
					</div>
				</div>
			</div>
			<input type="hidden" id="id" name="id" />
         
         <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <h2>Register New User</h2>
                 <hr>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">User Name</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <!-- <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus> -->
                         <input type="text" name="userName" class="form-control" id="userName" placeholder="userName" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="name">Full Name</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" name="fullName" class="form-control" id="fullName" placeholder="fullName" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="email">Email</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                         <input type="email" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
         
                     </div>
                 </div>
             </div>
          
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="password">Password</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                         <!-- <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Password" required> -->
                         <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                     </div>
                 </div>
             </div>
          
         </div>
         <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="country">Country</label>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                         <input type="text" name="country" class="form-control" id="country"
                                placeholder="country" required autofocus>
                     </div>
                 </div>
             </div>
         </div>
        
          <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <label for="roll">Role</label>
             </div>
         
          <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
         <input type="radio" name="role" value="ADMIN" > Admin
          <div class="col-md-3 field-label-responsive">
          <input type="radio" name="role" value="USER" checked> User</div>
          </div></div></div> </div>
         <div class="row">
             <div class="col-md-3">
             <div class="col-md-6">
                 <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
             
             <div class="col-md-3"><div class="col-md-6"><a th:href="@{/signintologin}">Login</a></div></div>
            
         </div>
         </div></div>
       
     </form>
 </div>
</body>
</html>