<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Sign in</title>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
</style>
</head>
<body>

	<h2>View Edit and Delete Notes!!!</h2>

	<th:block th:if="${#lists.isEmpty(usernotes)}">
		<h3>No employee</h3>
	</th:block>
	<th:block th:unless="${#lists.isEmpty(usernotes)}">
		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>

					<tr>
						<th>Notes_Id</th>
						<th>Title</th>
						<th>Creation Date</th>
						<th>Update Date</th>
						<th>Description</th>
						<th>Action</th>
					</tr>

				</thead>
				<tbody>
					<tr th:each="contact,iterStat : ${usernotes}">
						<td th:text="${iterStat.count}"></td>
						<td th:text="${contact.title}"></td>
						<td th:text="${contact.creation_date}"></td>
						<td th:text="${contact.update_date}"></td>
						<td th:text="${contact.description}"></td>
						<td><a
							th:href="@{/user/{notes_id}/edit(notes_id=${contact.notes_id})}">Edit</a>
							<a
							th:href="@{/user/{notes_id}/delete(notes_id=${contact.notes_id})}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
	<div class="col-md-3">
		<div class="col-md-6">
			<a th:href="@{/add_note}"> Add</a>&emsp;&ensp;
					<!-- <a th:href="@{/signintologin}">&emsp;&ensp;Login  </a> -->
					 &emsp;&ensp;<a th:href="@{/logout}">Logout</a>
				</div>
			</div>
</body>
</html>
